* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* ************ */
/*  grid area  */
/* ************ */

/*

.about-me {
    grid-area: about-me;
}

.aside1 {
    grid-area: aside1;
}

.aside2 {
    grid-area: aside2;
}

.aside3 {
    grid-area: aside3;
}

.coding {
    grid-area: coding;
}

.careers {
    grid-area: careers;
}


.grid-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "about-me about-me aside1"
    "aside3 coding coding"
    "careers careers aside2";
    grid-gap: 10px;
}

*/

/* ************ */
/*   elements   */
/* ************ */

#contact-link {
    display: none;
}

/* index */
header {
    display: flex;
    position: relative;
    background-color: #091212;
    background-image: url('plant-850x567.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    margin: auto;
    text-align: center;
}

.welcome {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 auto;
}

.nav a {
    margin: auto 5px;
}

/* nav bar */
.topnav {
    background-color: #091212;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
}

.topnav a.active {
    background-color: #728271;
    color: #091212;
    font-weight: 600;
    border-radius: 2px;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card {
    background-color: #e8f1d9;
    color: #091212;
    box-shadow: 2px 4px 10px gray;
    border-radius: 4px;
    transition: 0.2s;
    font-weight: bold;
    height: 240px;
    font-weight: 400;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.card-link {
    color: #091212;
}

.card-link:hover {
    text-decoration: underline;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card1 card2"
                         "card3 .";
    gap: 10px;
}

.card > h4,
.card > p,
.card > h5 {
    margin: 5px 0 3px 10px;
}


/* content on pages */
body {
    box-sizing: border-box;
    display: block;
    margin: 0px;
    background-color: #091212;
    color: white;
    font-weight: 400;
    line-height: 1.5em;
    word-wrap: break-word;
}

a, .link {
    text-decoration: none;
    color: #e8f1d9;
    padding: 2px;
}

.aside {
    margin-top: 40px;
}

.hidden-aside {
    display: none;
}

footer  {
    margin-top: 25px;
    padding-bottom: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.content {
    margin: 0 auto;
    
}


/* ************ */
/*    classes   */
/* ************ */

.fancy {
    font-size: 2em;
    color: #728271;
    font-weight: 600;
}

.link-hover:hover {
    transition: 0.25s;
    background-color: #e8f1d9;
    color: #091212;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #e8f1d9;
}

.link-hover:focus {
    transition: 0.25s;
    background-color: #e8f1d9;
    color: #091212;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #e8f1d9;
}

/* .img-shadow:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 5px #e8f1e8;
    border-radius: 50px;
} */


.icon-credit {
    font-size: 0.5em;
    margin-top: 10px;
}

.wordpress,
.instagram,
.twitter {
    display: none;
}

.form:focus {
    accent-color: #728271;
}

.contact-aside {
    margin-bottom: 10px;
}

.submit {
    width: 300px;
    height: 50px;
    background-color: #728271;
    border-style: none;
    border-radius: 2px;
}



.submit:hover {
    box-shadow: 0px 0px 5px #e8f1d9;
    font-weight: bold;
}

/* ************ */
/*     id's     */
/* ************ */

#firstName, #lastName, #contactEmail, #subject, #message {
    width: 300px;
    margin: 5px 0;
}

#message {
    height: 250px;
}

/* ************ */
/* media queries */
/* ************ */

@media screen and (min-width: 900px) {
    .content {
        width: 900px;
    }

}

@media screen and (min-width:499px) and (max-width: 899px) {
    .content {
        word-wrap: break-word;
        display: inline-block;
    }


}

@media screen and (min-width: 499px) {
    .icon {
        display: none;
    }
    


}

@media handheld, only screen and (max-width: 499px) {
    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "card1"
                             "card2"
                             "card3";
    }

    .card {
        height: 300px;
    }
 
    /* .grid-area {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "about-me"
        "aside1"
        "coding"
        "aside3"
        "careers"
        "aside2";
    } */

    /* landing page */
    h2 {
        line-height: 1.2em;
    }

    /* nav hamburger */
    .topnav #myLinks {
        display: none;
    }
    
    .topnav a.icon {
        color: #e8f1d9;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #728271;
        color: #091212;
        border-radius: 2px;
    }

    .active {
        background-color: #091212;
        color: #e8f1d9;
    }

    /* content */
   aside, .content  {
        max-width: 100%;
        word-wrap: break-word;
        max-width: 320px;
    }

    .logo {
        display: none;
    }

    .aside-lowered, .aside-lowered, .aside-lowered {
        margin-top: 0;
    }


}